html {
    background-color: black;
    text-align: center;
    color:grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    justify-self: center;
    justify-content: space-between;
    border-radius: 25px;
    padding: 10px;
    background-color: maroon;
}

#top {
    border: 3px solid black;

    display: flex;
    width: auto;
    height: 55px;
    border-radius: 25px;

    background-color: grey;

    color:maroon;


    justify-content: end;
    align-items: center;
    font-size: 25px;
    padding: 10px;
}

#middle {
    /* border: thin solid blue; */
    height: 100px;

    display: flex;

    height: auto;

    margin-top: 35px;
    margin-bottom: 15px;
}

#numbers {
    /* border: thin solid orange; */

    display: flex;
    flex: 75%;
    flex-direction: column;
    height: auto;
}

#one-nine {
    /* border: thin solid purple; */
    flex: 75%;
}

#zero {
   /* border: thin solid aquamarine; */
   flex: 25%;
}

#operators {
    /* border: thin solid yellow; */

    display: flex;
    flex: 25%;

    flex-direction: column;
    height: auto;
    justify-content: space-around;
}

#operators > button {
    background-color: grey;
    font-weight: bold;
    color: maroon;
}

#bottom {
    /* border: thin solid green; */
    height: auto;
}

button {
    /* border: c solid silver; */
    width: 70px;
    border-radius: 25px;
    text-align: center;
    background-color: transparent;
    height: 50px;
    margin: 2px;
    color: grey;
}

#bottom > #equal {
    width: 300px;
    border-radius: 25px;
    margin: 0px;
    background-color:grey;
    font-weight: bold;
    color: maroon
}