html {
    background-color: grey;
    text-align: center;
    color:silver;
}

.display {
    border: thin solid silver;
    display: flex;
    width: 300px;
    height: 75px;
    border-radius: 25px;
    /* background-color: darkolivegreen; */
}

.container {
    margin-top: 100px;
    border: thin solid silver;
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    justify-self: center;
    height: 450px;
    row-gap: 10px;
    justify-content: space-around;
    border-radius: 25px;
}

.container > button {
    border: thin solid silver;
    width: 70px;
    border-radius: 25px;
    text-align: center;
    background-color: transparent;
    color: silver;
}

#equal-button {
    width: 300px;
    margin-top: 5px;
    border-radius: 25px;
}